/* ESTILOS DE WORDPRESS */
.pos-fixed {
	position: fixed !important;
	top: 1em;
}

.gallery {
	clear: both;
	position: relative;
	overflow: hidden;

	.gallery-item {
		float: left;
		padding: 0.25rem;
		display: block;
	}

	&.gallery-columns-1 {
		.gallery-item {
			width: 100%;
		}
	}

	&.gallery-columns-2 {
		.gallery-item {
			width: 50%;
		}
	}

	&.gallery-columns-3 {
		.gallery-item {
			width: 33.33%;
		}
	}

	&.gallery-columns-4 {
		.gallery-item {
			width: 25%;
		}
	}

	&.gallery-columns-5 {
		.gallery-item {
			width: 20%;
		}
	}

	&.gallery-columns-6 {
		.gallery-item {
			width: 16.66%;
		}
	}
}

.screen-reader-text {
	display: none;
}

.nav-previous {
	float: left;
}
.nav-next {
	float: right;
}

// Login page styles.
.login {
	background: $blue;

	#login {
		h1 {
			a {
				background-image: url("../img/logo-login.png");
				background-size: 305px 43px;
				width: 305px;
				height: 43px;
			}
		}
	}

	#nav,
	#backtoblog {
		a {
			color: $green;
		}
	}

	#wp-submit {
		height: 3rem !important;
	}
}

img.alignleft {
	float: left;
	margin: 0px 1.5rem 1.5rem 0px;
}

img.alignright {
	float: right;
	margin: 0px 0px 1.5rem 1.5rem;
}

img.aligncenter {
	float: none;
	margin: 1.5rem auto;
	display: block;
}
