/* Basic WordPress styles */
.pos-fixed {
	position: fixed !important;
	top: 1em;
}

/* Image galleries */
.gallery {
	clear: both;
	position: relative;
	overflow: hidden;

	.gallery-item {
		float: left;
		padding: 0.25rem;
		display: block;
	}

	&.gallery-columns-1 {
		.gallery-item {
			width: 100%;
		}
	}

	&.gallery-columns-2 {
		.gallery-item {
			width: 50%;
		}
	}

	&.gallery-columns-3 {
		.gallery-item {
			width: 33.33%;
		}
	}

	&.gallery-columns-4 {
		.gallery-item {
			width: 25%;
		}
	}

	&.gallery-columns-5 {
		.gallery-item {
			width: 20%;
		}
	}

	&.gallery-columns-6 {
		.gallery-item {
			width: 16.66%;
		}
	}
}

// Login page styles.
.login {
	background: $color--main;
	margin: auto;

	@include mobile {
		width: 90%;
	}

	@include tablet-h {
		width: 500px;
	}

	form {
		margin: 0;
		padding: 1rem;
		background-color: $color--white;
		border: none;
		border-radius: $global--radius;

		.input {
			padding: 0.5rem 1rem;
			margin: 0 0 1.5rem 0;
		}
	}

	input[type="text"] {
		padding: 0.5rem 1rem;
		margin: 0 0 1.5rem 0;
	}

	.wp-hide-pw {
		background: transparent !important;
		color: $color--grey-dark !important;
		border: none !important;
		&:focus {
			border: none !important;
			box-shadow: none !important;
		}
	}

	#nav,
	#backtoblog {
		font-size: 1rem;
		padding: 0;
		a {
			color: $color--white;
			&:hover {
				color: $color--white;
			}
		}
	}

	#nav {
		margin-top: 1rem;
	}

	#login {
		width: 100%;

		h1 {
			a {
				background-image: url("./assets/img/login.png");
			}
		}
	}

	#wp-submit {
		height: 3rem !important;
	}

	label {
		font-size: inherit;
	}
}

/* Miscellaneous */
.screen-reader-text {
	display: none;
}

.nav-previous {
	float: left;
}
.nav-next {
	float: right;
}

img.alignleft {
	float: left;
	margin: 0px 1.5rem 1.5rem 0px;
}

img.alignright {
	float: right;
	margin: 0px 0px 1.5rem 1.5rem;
}

img.aligncenter {
	float: none;
	margin: 1.5rem auto;
	display: block;
}
