// Login page styles.
.login {
	background: $color--main;
	margin: auto;

	@include mobile {
		width: 90%;
	}

	@include tablet-h {
		width: 500px;
	}

	form {
		margin: 0;
		padding: 1rem;
		background-color: $color--white;
		border: none;
		border-radius: $global--radius;

		.input {
			padding: 0.5rem 1rem;
			margin: 0 0 1.5rem 0;
		}
	}

	input[type="text"] {
		padding: 0.5rem 1rem;
		margin: 0 0 1.5rem 0;
	}

	.wp-hide-pw {
		background: transparent !important;
		color: $color--grey-dark !important;
		border: none !important;
		&:focus {
			border: none !important;
			box-shadow: none !important;
		}
	}

	#nav,
	#backtoblog {
		font-size: 1rem;
		padding: 0;
		a {
			color: $color--white;
			&:hover {
				color: $color--white;
			}
		}
	}

	#nav {
		margin-top: 1rem;
	}

	#login {
		width: 100%;

		h1 {
			a {
				background-image: url("./assets/img/login.png");
			}
		}
	}

	#wp-submit {
		height: 3rem !important;
	}

	label {
		font-size: inherit;
	}
}
