/* Search page styles */
#archive__container {
	display: grid;
	grid-template-rows: auto;

	@include mobile {
		grid-template-columns: 1fr;
		gap: 1rem;
		margin: 1rem 0;
	}

	@include tablet-v {
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
		margin: 3rem 0;
	}

	@include laptop-h {
		grid-template-columns: repeat(3, 1fr);
		gap: 3rem;
		margin: 3rem 0;
	}

	.pagination {
		grid-column: -1 / 1;
	}

	.article__title {
		font-size: 1.5em;
	}
}

#archive__header {
	grid-column: -1 / 1;
}
