// Posts and Pages styles.
#main {
	z-index: 1;
	background: $color--white;
	@include align-wide;
}

.error404 {
	#main {
		color: $color--white;
		padding: 6rem 0px;

		h1 {
			color: $color--white;
		}
	}
}
