/* Global styles */
body {
	@include fonts--body;
	font-size: 16px;
	color: $color--grey-dark;
	background-color: $color--white;

	// Fix for the horizontal scrol bar when using full width elements.
	overflow-x: hidden;
	overflow-y: visible;
}

strong {
	font-weight: $fonts--bold;
}

a {
	text-decoration: none;
	transition: $transition;
	color: $color--main;

	&:hover {
		text-decoration: underline;
		color: $color--secondary;
	}
}

img {
	max-width: 100%;
	height: auto;
}

p {
	margin: 0px;
	line-height: 1.5em;
}

p + p {
	margin-top: 1em;
}

.align-wide {
	@include align-wide;
}

.alignfull {
	@include align-full;
}
