/* Buttons */
.button,
[type="reset"],
[type="submit"] {
	margin: 0px;
	overflow: hidden;
	border: none;
	border-radius: $global--radius;
	padding: 0.75rem 1.5rem;
	font-size: 0.9em;
	font-weight: $fonts--regular;
	cursor: pointer;
	line-height: 1;
	box-sizing: border-box;
	text-align: center;

	&:focus {
		outline: 0px;
	}

	&:disabled {
		opacity: 0.5;
	}
}

.button-white {
	@extend .button;
	color: $color--grey-dark !important;
	background: $color--white !important;

	&:hover {
		background: $color--grey !important;
	}
}

.button-main {
	@extend .button;
	color: $color--white;
	background: $color--main !important;

	&:hover {
		color: $color--white;
		background: lighten($color--main, 10) !important;
	}
}

.button-secondary {
	@extend .button;
	color: $color--white !important;
	background: $color--secondary !important;

	&:hover {
		color: $color--white;
		background: lighten($color--secondary, 10) !important;
	}
}

.wp-core-ui .button-primary {
	@extend .button-main;
}

#header__button-search {
	@extend .button-main;
	padding: 0.5rem;
	margin-left: 1rem;
	background-color: transparent !important;

	&:hover {
		background-color: transparent !important;
	}
}

#go__top {
	@extend .button-secondary;
	padding: 1rem !important;
	border-radius: 50%;
	bottom: 2rem;
	z-index: 999999;
	right: 2rem;
	min-width: inherit;
	display: none;
	position: fixed;
	outline: none;
	font-size: 0.8rem;
	color: $color--white !important;
	@include shadow-z--1;

	&:hover {
		@include shadow-z--2;
	}
}
