#footer {
	z-index: 99;
	background: $color--main;
	color: $color--main-light;
	padding: 2rem 0;

	a {
		color: $color--main-light;

		&:hover {
			color: $color--white;
		}
	}
}

#footer__container {
	@include align-wide;
}

#footer__logo {
	text-align: center;
}

#footer__copyright {
	font-size: 0.8em;
	text-align: center;
}
