/** NAV DESKTOP **/
#header__nav__wrapper {
	z-index: 99;
	padding: 20px 0px;
	background: $color--main;
	transition: padding $transition;

	@include mobile {
		display: none;
	}

	@include tablet-h {
		display: block;

		&.small {
			padding: 10px 0px;
			.logo-header {
				height: 30px;
			}
		}

		&.regular {
			padding: 20px 0px;
			.logo-header {
				height: 43px;
			}
		}
	}
}

#header__nav__container {
	@include align-wide;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#header__logo {
	transition: height $transition;
	width: auto;

	&:focus {
		outline: none;
	}

	&.small {
		height: 50px;
	}

	&.regular {
		height: 70px;
	}
}

#header__nav {
	a {
		display: block;
		color: $color--main-light;
		text-transform: uppercase;
		@include fonts--headings;
		font-weight: $fonts--regular;
		padding: 0.5rem 1rem;

		&:hover {
			color: $color--grey-dark;
			background-color: $color--main-light;
		}
	}

	ul {
		list-style: none;
		margin: 0px;
		padding-inline-start: 0px;
	}

	li {
		float: left;
	}
	.sub-menu {
		display: none;
		width: 300px;
		position: absolute;
		background-color: $color--main;

		li {
			display: block;
			width: 100%;
		}
	}
}

.current-menu-item,
.current-menu-parent,
.current-menu-ancestor {
	background-color: $color--main-dark;
}

.menu-item-has-children {
	> a {
		&::after {
			font-family: "dcaste_wp_starter";
			font-style: normal;
			font-weight: normal;
			display: inline-block;
			text-decoration: inherit;
			text-align: center;
			margin-left: 5px;
			content: "\e802";
		}
	}
}
