/** TOP BAR **/
#header__top-bar {
	padding: 5px 0px;
	background: $color--main-light;
	@include fonts--body;
	color: $color--grey-dark;
	font-size: 0.85em;

	a {
		color: $color--main;

		&:hover {
			color: $color--secondary;
		}
	}

	.social-media__item {
		display: inline-block;
		font-size: 1.9em;
	}

	.social-media__item + .social-media__item {
		margin-left: 0.2em;
	}
}

#header__top-bar__container {
	@include align-wide;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 5rem;
}
