#header-desktop {
	z-index: 99;
}

/** TOP BAR **/
#header__top-bar {
	padding: 5px 0px;
	background: $color--main-light;
	@include fonts--body;
	color: $color--grey;
	font-size: 0.85em;

	a {
		color: $color--main;

		&:hover {
			color: $color--secondary;
		}
	}
}

#header__top-bar__container {
	@include alignwide;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__top-bar__icon {
	margin-right: 5px;
}

/** NAV DESKTOP **/
#header__nav {
	background: $color--main;
	transition: padding $transition;
	z-index: 99;

	.col-right {
		float: right;
		display: flex;
		align-items: center;

		> * + * {
			margin-left: 1rem;
		}
	}

	.dropdown.menu > li > a {
		background: transparent;
	}

	@include mobile {
		display: none;
	}

	@include tablet-h {
		display: block;

		&.small {
			padding: 10px 0px;
			.logo-header {
				height: 30px;
			}
		}

		&.regular {
			padding: 20px 0px;
			.logo-header {
				height: 43px;
			}
		}
	}
}

.header__nav__container {
	@include alignwide;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-header {
	transition: height $transition;
	&:focus {
		outline: none;
	}
}

.header__nav {
	a {
		color: $color--main-light;
		text-transform: uppercase;
		@include fonts--headings;
		font-weight: $fonts--regular;

		&:hover {
			color: $color--white;
		}
	}

	ul {
		list-style: none;
		margin: 0px;
		padding-inline-start: 0px;
	}

	li {
		float: left;
	}

	@include tablet-h {
		a {
			padding: 0.25rem 0.75rem;
		}
	}
}

.header-social {
	font-size: 1.3em;
	color: $color--main-light;

	&:hover {
		color: $color--secondary;
	}
}
