/* Background and Font colors in blocks */

// Fonts
.has-white-color {
	color: $color--white;
}
.has-black-color {
	color: $color--black;
}
.has-grey-color {
	color: $color--grey;
}
.has-grey-light-color {
	color: $color--grey-light;
}
.has-grey-dark-color {
	color: $color--grey-dark;
}
.has-main-color {
	color: $color--main;
}
.has-main-light-color {
	color: $color--main-light;
}
.has-main-dark-color {
	color: $color--main-dark;
}
.has-secondary-color {
	color: $color--secondary;
}
.has-secondary-light-color {
	color: $color--secondary-light;
}
.has-secondary-dark-color {
	color: $color--secondary-dark;
}
.has-terciary-color {
	color: $color--terciary;
}
.has-terciary-light-color {
	color: $color--terciary-light;
}
.has-terciary-dark-color {
	color: $color--terciary-dark;
}

// Background colors
.has-white-background-color {
	background-color: $color--white;
}
.has-black-background-color {
	background-color: $color--black;
}
.has-grey-background-color {
	background-color: $color--grey;
}
.has-grey-light-background-color {
	background-color: $color--grey-light;
}
.has-grey-dark-background-color {
	background-color: $color--grey-dark;
}
.has-main-background-color {
	background-color: $color--main;
}
.has-main-light-background-color {
	background-color: $color--main-light;
}
.has-main-dark-background-color {
	background-color: $color--main-dark;
}
.has-secondary-background-color {
	background-color: $color--secondary;
}
.has-secondary-light-background-color {
	background-color: $color--secondary-light;
}
.has-secondary-dark-background-color {
	background-color: $color--secondary-dark;
}
.has-terciary-background-color {
	background-color: $color--terciary;
}
.has-terciary-light-background-color {
	background-color: $color--terciary-light;
}
.has-terciary-dark-background-color {
	background-color: $color--terciary-dark;
}
